<div class="navbar-collapse collapse templatemo-sidebar">
    <ul class="templatemo-sidebar-menu">
        <li class="active"><a href="{{ site.url }}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;HomePage</a></li>
        {% assign list = site.categories %}
        {% for item in list %}
        <li class="sub">
            <a href="javascript:;">
        <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;{{ item[0] | join: "/" }} <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
                {% assign page_list = item[1] %}
                {% for page in page_list %}
                    {% if page.title != null %}
                   <li><a href="{{BASE_PATH}}{{page.url}}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div><!--/.navbar-collapse -->
<div class="tag-heap">
    <div class="tag-header">Tags:</div>
    <div>
        <ul class="tags">
          {% for tag in site.tags %}
           <li><a href="#" class="tag">{{ tag[0] }}({{ tag[1].size }})</a></li>
              {% if forloop.index0 == 9 %}
                  {% break %}
              {% endif %}
          {% endfor %}
        </ul>
    </div>
</div>  